In [1]:
from graphdatascience import GraphDataScience

In [2]:
ENVIRONMENT = "mlruntimedev"
DBID = "e6ba1b5c"
PASSWORD = "l4Co2Qa5GseW0sMropCvJo17laf6ZCq9vuAhiJrVW2c"

In [3]:
gds = GraphDataScience(f"neo4j+s://{DBID}-{ENVIRONMENT}.databases.neo4j-dev.io/", auth=("neo4j", PASSWORD))
gds.set_database("neo4j")

In [4]:
try:
    gds.graph.load_cora()
except:
    pass

Uploading Nodes:   0%|          | 0/2708 [00:00<?, ?Records/s]

Uploading Relationships:   0%|          | 0/5429 [00:00<?, ?Records/s]

In [5]:
train_response = gds.gnn.nodeClassification.train(
    "cora", "myModel", ["features"], "subject", ["CITES"], target_node_label="Paper", node_labels=["Paper"]
)

In [6]:
train_result = gds.run_cypher("RETURN gds.remoteml.getTrainResult('myModel')");

In [7]:
train_result

               gds.remoteml.getTrainResult('model2')
0  {'test_acc_mean': 0.8589511513710022, 'test_ac...

In [8]:
predict_result = gds.gnn.nodeClassification.predict("cora", "myModel", "myPredictions")

In [9]:
cora = gds.graph.get('cora')

In [11]:
predictions = gds.graph.nodeProperties.stream(cora, node_properties=["features", "myPredictions"], separate_property_columns=True)

In [12]:
predictions

,nodeId,features,model2Predictions
0,31336,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0
1,1061127,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ...",1
2,1106406,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",2
3,13195,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",2
4,37879,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",3
...,...,...,...
2703,1128975,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",5
2704,1128977,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",5
2705,1128978,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",5
2706,117328,"[0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",6
2707,24043,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0